extends layout

block content
  h1.display-4.mt-3.mb-3 Accounts
  table.table.table-bordered.table-stripped.table-hover.table-sm.mb-3
    thead
      tr
        th Address
        th Type
        th Balance
    tbody
      for account in accounts
        tr
          td 
            a(href="/account/" + account.address) #{nameformatter.format(account.address)}
          td #{account.type}
          td #{ethformatter(account.balance)}
  div.form-row.text-center
    div.col-12
      a.btn.btn-outline-primary(href="/accounts/" + lastAccount) Next Page