extends layout

block content
  h1.display-4.mt-3.mb-3 Submit raw transaction
  form(action="/tx/submit", method="post")
    .form-group
      label(for="txHex") Signed Transaction Hex
      textarea.form-control#txHex(rows=15, name="txHex", placeholder="0x...")
    div.form-row.text-center
        div.col-12
            button.btn.btn-outline-primary(type="submit") Submit
  if message
    div.alert.alert-primary(role='alert') #{message}